@import 'utils';

.header{
    height: 3.5rem;
    background-color : #f44336;

    .wrapper-item{
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        height: 100%;

        .logo{
            padding : 0.5rem;
            font-size : 1rem;
        }

        .chapter{
            margin-left: auto;
            margin-right: auto;
            font-size : 1.5rem;
        }

        .item{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}